<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Home page news">
    <meta name="author" content="Ergashev Ramazon">
    <title>
      Dashboard
    </title>
    <link href="/static/css/min.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">
  </head>
  <body>
    
  {% include 'nav.html'  %}

{% block content %}
{% endblock content %}

  {% include 'js.html' %}      
  </body>
</html>
