{% extends 'base.html' %}

{% block title %}Home{% endblock %}
    
{% block content %}
<main class="container p-5">
    {% for post in object_list %}
    <div class="bg-light p-5 mt-5 rounded">
      <h1>{{ post.title }}</h1>
      <p class="lead">{{ post.sammury }}</p>
      <p>{{ post.publish }}</p>
      <ul><p>{{ post.content | slice:':100' }}</p></ul>
      <a class="btn btn-primary btn-lg" href="{{ post.get_absolute_url }}" role="button" style="color: darkorange;">Postni ko'rish &raquo;</a>
    </div>
    {% endfor %}
</main>
{% endblock content %}


